<div class="form-field">
    <div class="input-wrapper">
        <label
            for="duration"
            class="form-field-lable"
        >
            Duration:
            <span class="required-msg" *ngIf="validationMsg; else requiredMsg">{{ validationMsg }}</span>
        <ng-template #requiredMsg>
            <span class="required">* required</span>
        </ng-template>
        </label>
        <input [class.has-error-duration]="validationMsg"
            type="number"
            id="duration"
            class="form-field-input"
            placeholder="minutes"
            [placeholder]="placeholder"
            [formControl]="formControl"/>
    </div>
    <p class="duration-expl">{{ formControl.value | duration }}</p>
</div>
