:host {
    display: flex;
    justify-content: space-between;
    height: auto;
    border-radius: 6px;
    background: var(--white);
    box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1), 0 2px 10px 0 rgba(29, 30, 38, 0.15);
    padding: 24px;
    border: 2px solid transparent;
}

:host(.is-fresh) {
    border-color: green;
}

:host(.is-upcomming) {
    border-color: blue;
}

.item-content {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.item-section {
    display: block;
}

.item-header {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}


.item-descr {
    display: block;
}

.item-title {
    color: var(--darkNight);
    font-size: 24px;
    font-family: var(--my-font-family);
    font-weight: 600;
    align-self: center;
    padding: 0 0 5px 0;
}

.time-date-section {
    line-height: 18px;
    letter-spacing: 0;
    color: var(--fluideGray);
    font-size: 14px;
    font-family: var(--my-font-family);
    justify-content: space-between;
    display: flex;
}

.date-section {
    margin-left: 20px;
    align-self: center;
}

.time-section {
    align-self: center;
}

.time-section .duration,
.date-section .duration {
    display: flex;
    align-self: center;
}

.buttons-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-description {
    line-height: 18px;
    letter-spacing: 0;
    color: var(--thinnerGray);
    font-size: 14px;
    font-family: var(--my-font-family);
    text-transform: none;
    margin-right: 60px;
}

.button {
    border-radius: 3px;
    background: deepskyblue;
    padding: 6px 9px;
    color: var(--white);
    font-size: 13px;
    font-family: var(--my-font-family);
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
}

.delete-button {
    display: flex;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--deepBlue);
}

.button:active {
    background-color: var(--deepBlue);
}

.button > img {
    height: 15px;
    margin-right: 6px;
}

.icon {
    margin: 0 6px;
}

.ic-star {
    margin: 0;
    height: 20px;
}

.delete-button {
    margin-left: 15px;
}

@media only screen and (max-width: 1000px) {
    .buttons-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
    }
}

@media only screen and (max-width: 650px) {
    .buttons-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        align-content: center;
    }

    .item-title {
        color: var(--darkNight);
        font-size: 14px;
        align-self: center;
        padding: 0 0 3px 0;
    }

    .time-date-section {
        line-height: 10px;
        font-size: 10px;
    }

    .item-description {
        line-height: 12px;
        font-size: 12px;
        margin-right: 20px;
    }

    .button {
        border-radius: 3px;
        background: deepskyblue;
        padding: 3px 6px;
        color: var(--white);
        font-size: 10px;
        font-family: var(--my-font-family);
        font-weight: 500;
        border: none;
        display: flex;
        align-items: center;
        height: 15%;
    }

    .delete-button {
        margin-left: 0;
    }
}

::ng-deep .cdk-overlay-connected-position-bounding-box{
    position: absolute;
    background-color: rgb(203, 208, 212);
}

::ng-deep .cdk-overlay-pane {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: unset !important;
    right: unset !important;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.delete-popup {
    height: 240px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(163, 164, 165);
    box-shadow: -10px 10px 10px 0 #333;
}

.delete-popup-header {
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgb(46, 49, 49);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 600;
    height: 60px;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
}

.hr-washed {
	margin: 10px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}

.popup-content {
    line-height: 24px;
    color: rgb(46, 49, 49);
    font-size: 24px;
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 90px;
    padding: 20px;
}

.popup-buttons {
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}

.popup-btn {
    padding: 6px 12px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: rgb(78, 74, 68);
    font-size: 14px;
    text-transform: none;
    font-weight: 600;
    border-radius: 3px;
    border: none;
}

.delete-p-btn {
    background: rgb(163, 221, 124);
    border: 1px solid rgb(60, 61, 61);
}

.delete-p-bt:hover {
    cursor: pointer;
    background-color: palegoldenrod;
}

.delete-p-bt:active {
    background-color: rgb(102, 18, 18);
}

.cancel-btn {
    background-color: rgb(177, 198, 219);
    border: 1px solid rgb(60, 61, 61);
    color: rgb(78, 74, 68);
    margin-right: 12px;
}

.cancel-btn:hover {
    cursor: pointer;
    background-color: seashell;
}

.cancel-btn:active {
    background-color: mediumaquamarine;
    color: white;
}

.close-icon {
    cursor: pointer;
}

