<div class="item-content">
    <div class="item-section">
        <div class="item-header">
            <div class="item-title">{{ course.name | uppercase }}
                <img src="assets/icons/ic_star.svg" alt="img" class="icon
                    ic-star" *ngIf="course.isTopRated" />
            </div>
            <section class="time-date-section">
                <div class="time-section">
                    <p class="duration time"><img class="icon"
                            src="assets/icons/ic_clock.svg" alt="img">
                        <span>{{ course.length | duration }}</span>
                    </p>
                </div>
                <div class="date-section">
                    <p class="duration date"><img class="icon"
                            src="assets/icons/ic_calendar.svg" alt="img">
                        <span>{{ course.date | date: 'shortDate' }}</span>
                    </p>
                </div>
            </section>
        </div>

        <section class="item-descr">
            <p class="item-description">{{ course.description }}</p>
        </section>
    </div>

    <div class="buttons-section">
        <button class="edit-button button" [routerLink]="['/courses', course.id]">
            <img src="assets/icons/ic_edit.svg" alt="img">
            <span>Edit</span>
        </button>
        <button class="delete-button button" cdkOverlayOrigin
            #triggerCdkOverlay="cdkOverlayOrigin" (click)="isOpen= true">
            <img src="assets/icons/ic_delete.svg" alt="img">
            <span class="del-text">Delete</span>
        </button>
    </div>

</div>

<ng-template
    #overlayDir="cdkConnectedOverlay"
    cdkConnectedOverlay
    cdkConnectedOverlayBackdropClass="after-drop"
    cdkConnectedOverlayPanelClass="dialog-modal"
    [cdkConnectedOverlayOrigin]="triggerCdkOverlay"
    [cdkConnectedOverlayOpen]="isOpen"
    (backdropClick)="onCancel()">
    <app-course-delete-dialog
        [course]="course"
        (cancel)="onCancel()"
        (delete)="onDelete()">
    </app-course-delete-dialog>
</ng-template>
