:host {
  display: block;
  border-radius: 6px;
  background: rgb(211, 211, 211);
  box-shadow: -10px 10px 10px 0 #333;
  padding: 24px;
  width: 730px;
  height: auto;
  margin: 0 auto;
}

.new-course-header {
  margin-bottom: 10px;
  color: #333333;
  font-size: 24px;
  text-align: left;
  font-weight: bolder;
}

.new-course-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field-lable {
  margin: 12px 0;
  font-family: var(--my-font-family);
  font-size: 14px;
  font-weight: bold;
}

.form-field-input, .form-field-textarea {
  padding: 10px;
  font-family: var(--my-font-family);
  font-size: 12px;
  color: var(--simpleGray);
  border: 1px solid gray;
  border-radius: 3px;
}

.required-msg {
  float: right;
  font-weight: normal;
  color: rgb(192, 24, 18);
}

.buttons-block {
  display: flex;
  justify-content: flex-end;
}

.add-course-btn {
  padding: 6px 17px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: white;
  text-transform: none;
  font-weight: 600;
  border-radius: 3px;
  border: none;
}

.submit-button {
  background: rgb(140, 236, 76);
}

.submit-button:hover {
  cursor: pointer;
  background-color: #c8de49;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(137, 176, 53, 0.5);
}

.submit-button::-moz-focus-inner {
  border: 0;
}

.submit-button :active {
  background-color: #62a231;
}

.cancel-button {
  border: 1px solid #858997;
  color: #5b616f;
  margin-right: 12px;
}

.cancel-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #858997;
}

.cancel-button::-moz-focus-inner {
  border: 0;
}

.cancel-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.cancel-button:active {
  background-color: #858997;
  color: white;
}

.has-error {
  border: crimson 1px solid;
}

.required-msg {
  float: right;
  font-weight: normal;
  color: rgb(192, 24, 18);
}

.required {
  float: right;
  line-height: 24px;
  color:rgb(192, 24, 18);
  font-size: 14px;
  font-family: var(--my-font-family);
  text-align: right;
  font-weight: normal;
}

