<header class="new-course-header">{{ coursePageTitle }}</header>
<form [formGroup]="form"
    (ngSubmit)="onFormSubmit()"
    class="new-course-form">
    <div class="form-field">
        <label for="title"
            class="form-field-lable"
        >
            Title:
            <span *ngIf="title?.errors?.required; else requiredMsg" class="required-msg">{{ messages.title }}</span>
            <ng-template #requiredMsg>
                <span class="required">* required</span>
            </ng-template>
        </label>
        <input type="text"
            id="title"
            class="form-field-input"
            [class.has-error]="messages.title"
            placeholder="Text input"
            name="title"
            formControlName="title"
            (blur)="onBlur($event)">
    </div>
    <div class="form-field">
        <label for="description"
            class="form-field-lable">
            Description:
            <span *ngIf="description?.errors?.required; else requiredMsg" class="required-msg">{{ messages.description }}</span>
            <ng-template #requiredMsg>
                <span class="required">* required</span>
            </ng-template>
        </label>
        <textarea cols="28"
            rows="5"
            id="description"
            [class.has-error]="messages.description"
            class="form-field-textarea"
            placeholder="Add description"
            name="description"
            formControlName="description"
            (blur)="onBlur($event)">
        </textarea>
    </div>
    <app-course-date [isValidForm]="isValidForm"
                [validationMsg]="messages.date"
                formControlName="date"
                (click)="onClick('date')">
    </app-course-date>
    <app-course-duration [isValidForm]="isValidForm"
                [validationMsg]="messages.duration"
                formControlName="duration"
                (click)="onClick('duration')">
    </app-course-duration>
    <app-autocomplete-select
                      placeholder="Start typing"
                      [options]="authorsList"
                      [validationMsg]="messages.authors"
                      [isErrors]="isValidForm"
                      label="Authors"
                      labelField="name"
                      searchField="name"
                      formControlName="authors"
                      (validOptionsList)="onValidAuthorsTaken($event)"
                      (click)="onClick('authors')">
    </app-autocomplete-select>
    <div class="buttons-block">
        <button type="button"
            class="cancel-button add-course-btn"
            (click)="onCancel()">
            Cancel
        </button>
        <button
            type="submit"
            [disabled]="!form.valid"
            class="submit-button add-course-btn">
            Save
        </button>
    </div>
</form>
