:host {
    background-color: var(--whiteFoggy);
    display: block;
    min-height: calc(100vh - 55px);
    padding-bottom: 15px;
}

.log-buttons {
    display: flex;
    align-content: center;
}

.breadcrumbs-text {
    color: var(--darkNight);
    font-size: 14px;
    font-family: var(--my-font-family);
    text-transform: none;
    text-align: left;
    font-weight: 600;
    text-decoration: none;
}

.add-button {
    border-radius: 3px;
    background: deepskyblue;
    margin: 0 15% 10px auto;
    padding: 4px 13px;
    display: flex;
    align-items: center;
    line-height: 24px;
    color: var(--white);
    margin-left: auto;
    font-size: 14px;
    font-family: var(--my-font-family);
    text-transform: none;
    font-weight: 500;
    border: none;
}

.add-button:hover {
    cursor: pointer;
    background-color: var(--deepBlue);
}

.add-button:active {
    background-color: var(--deepBlue);
}

.add-button-icon {
    height: 20px;
    width: 20px;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    margin-right: 8px;
}

@media only screen and (max-width: 650px) {
    .add-button {
        border-radius: 3px;
        background: deepskyblue;
        margin: 3px 15% 10px auto;
        padding: 2px 7px;
        display: flex;
        align-items: center;
        line-height: 14px;
        color: var(--white);
        margin-left: auto;
        font-size: 12px;
        font-weight: 500;
        border: none;
    }
}