<app-header>
    <app-fake-logo></app-fake-logo>
    <div>
        <app-log-in-button [userData]="userData$ | async"></app-log-in-button>
    </div>
</app-header>
<app-breadcrumbs>
    <a
        class="breadcrumbs-text"
    >
        Courses
    </a>
</app-breadcrumbs>
<app-course-search (searchPhrase)="onCourseSearch($event)"></app-course-search>

<button
    class="add-button"
    routerLink="./addNew"
>
    <div class="add-button-icon">+</div>
    Add course
</button>

<app-courses-list
    [courses]="courses$ | async"
    (delete)="onDeleteCourse($event)"
    (loadmoreCourse)="onLoadMoreCourses()"
    *ngIf="courses$ | async; let courses; else noDataMessage"
>
</app-courses-list>
<ng-template #noDataMessage>
    <div class="no-course-available">
        <h3>No data. Feel free to add new course.</h3>
    </div>
</ng-template>
